.shadow {
    -webkit-box-shadow: 3px 3px 5px 6px rgb(226, 223, 251);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.full-width {
    width: 100%;
}

.add-buton {
    width: 150px;
    height: 30px;
    border-radius: 4px;
    background-color: #44a5ea;
    color: white;
    border: 1px solid #44a5ea;
}

.header-custom {
    font-size: 17px;
    color: #41cee4;
}

.usual-text-custom {
    font-size: 20px;
    color: rgb(44, 124, 245)
}

@media only screen and (max-width: 600px) {
    .header-custom {
        font-size: 13px;
        color: #41cee4;
    }
    .usual-text-custom {
        font-size: 14px;
        color: rgb(44, 124, 245)
    }
}